:root{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.primary-nav{
  margin-inline: auto;
  text-align: center;
  font-size: large;
}

.nav-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-around;
}

.primary-header{
  text-align: center;
}

.picture-div{
  flex: auto;
  justify-content: center;
}

img{
  padding-left: 40lvw;
}

