.primary-nav{
  margin-inline: auto;
  text-align: center;
  font-size: large;
}

.nav-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-around;
}

.primary-header{
  text-align: center;
  border-style: dashed;
  border-color: red;
}

img{
  width: 600px;
}

.picture{
  border-color: red;
  border-style: dashed;
}