:root{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.primary-nav{
  margin-inline: auto;
  margin-bottom: 80px;
  padding: 5px;
  text-align: center;
  font-size: x-large;
  background-color: hsl(221, 20%, 21%);
  color: white;
  box-shadow: 0 4px 30px -20px hsl(0, 0%, 36%);
  /* can't get rid of weird white space on the far edges.... Because no browser CSS reset?? */
  /* border:20px solid hsl(221, 20%, 21%); */
}

.nav-list{
  display: flex;
  padding: 100px 0px 100px 10px; 
  margin: auto;
  list-style: none;
  justify-content: space-around;
  border: 0.1px  black;
  border-radius: 20px;
  max-width: 800px;
  box-shadow: 0 4px 20px -10px hsl(0, 0%, 79%);
}

li,
a{
  font: 1em sans-serif;
  font-size: 20px;
  color: hsl(220, 20%, 32%);
}

.primary-header{
  text-align: center;
}

.picture-div{
  flex: auto;
  justify-content: center;
}

img{
  padding-left: 40lvw;
}

